<div class="side-bar-container">
	<div class="list-group">
		<div class="side-bar-header">
			<h2>Company name</h2>
		</div>
		<a href="#" class="side-bar-element" >
			<span class="material-icons"> dashboard </span>
			<p class="side-bar-label">Dashboard</p>
		</a>
		<a href="#" class="side-bar-element" >
			<span class="material-icons"> sell </span>
			<p class="side-bar-label">Orders</p>
		</a>
		<a href="#" class="side-bar-element" >
			<span class="material-icons"> storage </span>
			<p class="side-bar-label">Stock</p>
		</a>
		<a href="#" class="side-bar-element" >
			<span class="material-icons"> domain </span>
			<p class="side-bar-label">Suppliers</p>
		</a>
		<a href="#" class="side-bar-element" >
			<span class="material-icons"> manage_accounts </span>
			<p class="side-bar-label">Employees</p>
		</a>
		<a href="#" class="side-bar-element" >
			<span class="material-icons"> inventory </span>
			<p class="side-bar-label">Warehouse</p>
		</a>
	</div>
</div>
